/* Import some fonts to use */

/* Global */

/* Body  */
body{
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles eg font margin color*/
   
}



/* navbar */
/* nav {
    margin-bottom: 32px;
} */
.nav-link.active {

    color: #33acdc;

}


/* Header / Hero section */
header {background-color: pink;
}
/* main */

main {
    
    background-image: linear-gradient(rgba(76, 76, 147, 0.6), rgb(255, 255, 0, 0.6)), url("../images/ctrypathballoons.jpg");
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 95%;
    /*makes main take up all available space*/
    flex: 1 0 auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width:100%;
}

/* General section CSS */

section {
    background-color: #e9ecef52;
  z-index: 3;
  scroll-margin-top: 70px;
}

/* Section 1 section-signs */

/* Section 2 section-suggestions */



/* Section 3 section-help aka bubble */
  .bubble {
    background-color: pink;
    z-index: 3;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bubble-inner {
   width: 170px;
   height: 170px; 
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


/* Section 4 film / books */

 subsection {
    scroll-margin-top: 90px;
 }

/* Footer */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

/* Media queries if required */