


/* Global */
* {
      font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* Body  */
body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   

}



/* navbar */

.nav-link.active {

    color: #33acdc;

}

.squiggle {
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
    text-wrap: auto;
    width: auto;
}
/* Header / Hero section */
header {
    background-color: pink;
}

/* main */

main {

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 76, 147, 0.6)), to(rgb(255, 255, 0, 0.6))), url("../images/ctrypathballoons.jpg");

    background-image: -o-linear-gradient(rgba(76, 76, 147, 0.6), rgb(255, 255, 0, 0.6)), url("../images/ctrypathballoons.jpg");

    background-image: linear-gradient(rgba(76, 76, 147, 0.6), rgb(255, 255, 0, 0.6)), url("../images/ctrypathballoons.jpg");
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 95%;
    /*makes main take up all available space*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

/* General section CSS */

section {
    background-color: #e9ecef77;
    z-index: 3;
    scroll-margin-top: 70px;
}

/* Section 3 section-help aka bubble */
.bubble {
    background-color: pink;
    z-index: 3;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bubble-inner {
    width: 170px;
    height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/* Section 4 film / books */
article {
    scroll-margin-top: 90px;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
